.glowne {
  padding: 6%;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 20px;
  min-height: 300px;
  min-width: 300px;
  display: flex;
  max-width: 100%; /* Set maximum width to 100% */
}
  

  .stopka ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0.7%;
  }

  .glowne2 {
    text-align: center;
  }


  @media only screen and (max-width: 1200px) {
    .glowne {
      padding: 0;
      margin: 0;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .glowne {
        padding: 0;
        min-width: auto; /* Remove minimum width */
        margin: 0;    
      }
        .glowne, .hidden2{
            width: 100%;
        }

  }
  
  @media only screen and (max-width: 480px) {
    .glowne {
        padding: 0;
        margin: 0;
        font-size: 14px; /* Further reduce the font size for mobile screens */

    }
    .Wykres{
    }
  }
